        /* Large map card */
        .map-card {
            flex: 2;
            min-width: 400px;
            background-color:transparent;
            backdrop-filter: blur(8px);
            -webkit-backdrop-filter: blur(8px);
            border: 1px solid rgba(255, 255, 255, 0.281);
            border-radius: 12px;
            padding: 20px;
            box-shadow: 0 8px 25px rgba(0, 0, 0, 0);
        }

        /* ===============================
              MAP STYLES
        ================================ */
        #map { height: 180px; }


    #mapLocation {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1; /* behind controls */
}